.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  /* border: 10px solid red; */
  border-radius: 5px;
  margin-bottom: 30px;

}

.top {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  /* border-radius: ; */
  border-bottom: 1px solid black;

}

.textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  resize: vertical;
  border-bottom: 1px solid black;

  max-height: 6em;
  resize: vertical;
  overflow-y: auto;
}

.button {
  padding: 10px 25px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {}