.top_hero__section {
  height: 100vh;

  background-image: url("/Background-1\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.our_services__section {}

.contact_form__section {}